@import 'zeroing_styles.css';
@import 'header.css';
@import 'sectionServices.css';
@import 'sectionPortfolio.css';
@import 'sectionsBrands_AboutUs.css';
@import 'asaideFeedback.css';
@import 'footer.css';

body a{
    color: white;
    text-decoration: none; 
}



@media(max-width:1381px){
    
    .portfolioField{
        padding: 0;
    }

    .positionPortfolioFoto{
        margin-right: 0px;
        margin-top: 3%;
    } 

    .positionPortfolioFotos_1-3{
        justify-content: space-around;
    }

    .positionPortfolioFotos_4-6{
        margin-top: 1%;
    }

    .positionCircles{
        display: none;
    }
    .feedbackContainer{
        padding: 1%;
    }

    .fieldInput_Name_Subject{
        margin:1%;
    }

    .leftPart{
        flex: 0 0 100px;
        
    }
    .fieldInput_Name_Subject{
        margin:1%;
    }

    .fieldInputMessage{
        margin: 3%;
    }

    .input, .inputMessage{
        font-size: 15px;
    }


    #circle{
        display: none;
    }

    
    
}

@media (max-width:640px){

    header{
        height: 570px;
    }


    h1{
        margin-top: 21%;
        font-size: 45px;
    }

    .textAfterH1{
        font-size: 18px;
    }

    .elementMenuNav{
        margin-left: 10%;
    }

    .review {
        width: auto;
        height: auto;
    }

    .dimming{
        padding: 1% 1% 1% 1%;
    }

    .fieldOurService{
        padding: 0;
    }
    
    .positionDescriptionService{
        margin-top: 5%;
        justify-content: center;
    }

    .positionPortfolioMenu{
        margin-top: 5%;
    }

    .positionPortfolioFotos_1-3{
        margin-top: 5%;
    }

    .feedbackContainer{
        padding: 1% 1% 1% 1%;
    }
   
    .contentFooter{
        padding: 0px;
    }

@media(max-width: 427px){

    .portfolioField{
        display: none;
    }

    .field_Brands{
        padding: 1%;
    }
    .fieldAboutUs{
        display: none;
    }

    .rightPart{
        display: none;
    }

    .feedbackContent{
        justify-content: center;
    }

}


}
